<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Dominios</title>

    <!-- Cargar la etiqueta estática -->
    {% load static %}

    <!-- Vincular el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Dominios</h1>
    </header>

    <a href="{% url 'agregar_dominio' %}">Agregar Dominio</a>
    <ul>
        {% for dominio in dominios %}
            <li>{{ dominio.fqdn }} - {{ dominio.rol }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'lista_maquinas' %}">Volver</a>
</body>
</html>
